html,
body,
main {
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 100vw;
}

.board {
	--one-third: calc(100% / 3);
	--one-nineth: calc(100% / 9);

	background: /** @note right & bottom edges */ linear-gradient(
			to left,
			#fff 0px,
			#fff 2px,
			transparent 2px
		),
		linear-gradient(to top, #fff 0px, #fff 2px, transparent 2px),
		/** @note box lines */
			repeating-linear-gradient(
				to right,
				#fff 0px,
				#fff 2px,
				transparent 2px,
				transparent var(--one-third)
			),
		repeating-linear-gradient(
			to bottom,
			#fff 0px,
			#fff 2px,
			transparent 2px,
			transparent var(--one-third)
		),
		/** @note cell lines */
			repeating-linear-gradient(
				to right,
				#999 0px,
				#999 1px,
				transparent 1px,
				transparent var(--one-nineth)
			),
		repeating-linear-gradient(
			to bottom,
			#999 0px,
			#999 1px,
			transparent 1px,
			transparent var(--one-nineth)
		);

	display: flex;
	flex-wrap: wrap;
	height: 100vmin;
	margin: 0 auto;
	text-align: center;
	width: 100vmin;
}

.board .cell {
	appearance: none;
	background: transparent;
	border: none;
	font-size: 1.25rem;
	font-weight: normal;
	height: var(--one-nineth);
	padding: 0;
	text-align: center;
	width: var(--one-nineth);
}

/** @note pre-filled cells */
.board .cell[disabled] {
	font-size: 2rem;
	font-weight: bold;
}

/** @note prevents displaying zeroes) */
.cell[data-blank='false'] {
	color: transparent;
}
