html,
body,
main {
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 100vw;
}

.board {
	border: 2px solid #fff;
	border-collapse: collapse;
	height: 100vmin;
	margin: 0 auto;
	text-align: center;
	width: 100vmin;
}

.board tr:nth-child(3),
.board tr:nth-child(6) {
	border-bottom: 2px solid #fff;
}

.board td:nth-child(3),
.board td:nth-child(6) {
	border-right: 2px solid #fff;
}

.board td {
	border: 1px solid #fff;
}
